body {
    font-family: 'Share Tech', sans-serif;
    color: lightgrey;
    background: rgb(31, 31, 31);
}

select {
  width: 200px;
  height: 25px;
  padding: 16px 20px;
  border: 5px;
  border-radius: 0px;
  background-color: #bdbdbd;
}


nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

header {
  text-align: center;
}

#select-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

#info-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 300px;
}

#charts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
